<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="2.0.0" targetFramework="net462" />
  <package id="Fody" version="3.0.3" targetFramework="net462" developmentDependency="true" />
  <package id="MessagePack" version="1.7.3.4" targetFramework="net462" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.3.2" targetFramework="net462" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.3.2" targetFramework="net462" />
  <package id="NUniversalCharDet" version="1.0.0" targetFramework="net462" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>